@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="display-4">Welcome to Cosmos Odyssey</h1>

    <a asp-area="Home" asp-controller="OrderRegistration" asp-action="PlanetForm1">
        <h2 class="display-4">
            Book a flight
        </h2>
    </a>

</div>